#imageContainer {
    position: relative;
}
#canvasMask {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}
canvas{
    outline: black 3px solid;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
  }
  
  .item {
    width: 10em;
  }

  textarea {
    width: 300px;
    height: 150px;
  }
body{
    background-color: blanchedalmond;
}

#backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffcc00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backButton:hover {
  background-color: #b3ad00;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

  #mintButton {
        padding: 10px;
        font-size: 16px;
        background-color: #ddd;
        border: 1px solid #ccc;
        cursor: not-allowed; /* Make the cursor show as not-allowed initially */
        opacity: 0.5; /* Make it appear disabled */
    }

    #mintButton.enabled {
        background-color: #4CAF50; /* Green background when enabled */
        border: 1px solid #4CAF50;
        cursor: pointer;
        opacity: 1;
    }

    #mintButton.loading {
        background-color: #f0ad4e; /* Yellow background during loading */
        cursor: wait;
        opacity: 0.7;
    }
        #mintButton:hover {
    background-color: #3e8e41; /* Darker green on hover */
    border-color: #3e8e41;
    color: rgb(213, 212, 212); /* Change text color to white on hover */
    }


        /* Position the login button in the right upper corner */
        .login-container {
          position: absolute;
          top: 10px;
          right: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
      }
      .metamask-button {
          padding: 10px;
          font-size: 16px;
      }

      #walletID {
          font-size: 14px;
          color: grey;
          margin-top: 5px;
          text-align: right;
      }