/* styles/index.module.css */
.container {
  @apply text-center p-5 min-h-screen; /* Added min-h-screen to ensure full height */
  background-color: white; /* Set background color to white */
}

.title {
  @apply text-2xl mb-5 text-gray-800 dark:text-gray-200;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.thumbnails {
  @apply flex justify-center gap-10 mt-5 flex-wrap;
}

.thumbnail {
  @apply bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg shadow-md transition-transform transform hover:translate-y-2;
  width: 200px;
  overflow: hidden;
}

.link {
  @apply block text-center p-5 text-gray-700 dark:text-gray-300 no-underline;
}

.image {
  @apply w-full h-40 object-cover border-b border-gray-300 dark:border-gray-700;
}

.description {
  @apply mt-3 text-lg text-gray-600 dark:text-gray-400;
}

.mintButton {
  margin-top: 100px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4c74af;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.mintButton:hover {
  background-color: #4645a0;
}